/*
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header,
footer {
  padding: 10px;
  background-color: #eee;
}

.main {
  padding: 10px;
}

.login {
  float: right;
  padding: 10px;
}
*/

.login {
  float: right;
  padding: 10px;
}
