/*
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header,
footer {
  padding: 10px;
  background-color: #eee;
}

.main {
  padding: 10px;
}

.login {
  float: right;
  padding: 10px;
}
*/

.login {
  float: right;
  padding: 10px;
}

.games {
  margin: 10px;
}
.games ul {
  list-style-type: none;
  padding: 0;
}
.games li {
  margin-bottom: 10px;
}
.games a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  display: block;
}
.games a:hover {
  background-color: #ffab40;
}
.games a .id {
  font-size: small;
  color: #888;
  text-align: right;
}
.games a:hover .id {
  color: #111;
}


body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  margin: 0;
  padding: 0;
}

a {
  color: #4285f4;
}
a:hover {
  color: #111;
}

core-header-panel {
  background: white;
  /* height: 100% fails here on some browsers */
  height: 100vh;
  width: 100vw;
}

core-toolbar {
  color: #f1f1f1;
  fill: #f1f1f1;
  background: #5677fc;
}

paper-button {
  margin: 1em;
  width: 10em;
}

paper-button.colored {
  color: #4285f4;
  fill: #4285f4;
}

paper-button[raisedButton].colored {
  background: #4285f4;
  color: #fff;
}

paper-button[raisedButton].colored #ripple,
paper-button[raisedButton].colored::shadow #ripple {
  color: #2a56c6;
}

paper-button[raisedButton].colored #focusBg,
paper-button[raisedButton].colored::shadow #focusBg {
  background: #3367d6;
}
