body {
  font-family: Arial;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  /*
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  */
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
}

a {
  color: #fff;
}
a:hover {
  color: #666;
}

header {
  padding: 15px;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
}

header a {
  text-decoration: none;
  font-size: 24px;
}

footer {
  padding: 15px;
}

.content {
  padding: 15px;
}

.games {
  margin-top: 20px;
}
.games ul {
  list-style-type: none;
  padding: 0;
}
.games li {
  margin-bottom: 10px;
}
.games a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  display: block;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}
.games a:hover {
  background-color: #666;
  color: #222;
}
.games .players {
  margin-bottom: 10px;
}
.games .creationDate,
.games .id {
  font-size: small;
  color: #666;
  text-align: right;
}
.games .creationDate {
  float: left;
}
.games .id {
  float: right;
}
.games a:hover .creationDate,
.games a:hover .id {
  color: #222;
}

.game .players ul {
  list-style-type: none;
  padding: 0;
}
.game .players li {
  margin-bottom: 10px;
}
.game .question {
  font-size: 24px;
  margin-bottom: 30px;
}
.game .hand ul {
  list-style-type: none;
  padding: 0;
}
.game .hand a {
  text-decoration: none;
  background-color: #fff;
  color: #222;
  padding: 15px 15px 25px 15px;
  display: block;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  font-weight: bold;
  font-size: 18px;
}
.game .hand a:hover {
  background-color: #666;
}
.game .hand li:not(:first-child) {
  margin-top: -10px;
}

.clear {
  clear: both;
}

.userPicture {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  vertical-align: middle;
}
