<template name="game">
  Status: {{status}}

  <div>
    Players:
    <ul>
      {{#each players}}
        <li>
          {{name}} {{score}}
          {{#if selectedAnswer}}
            <i>answered</i>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>

  {{#unless currentUser}}
    You need to log in to join a game.
  {{/unless}}

  {{#if canJoin}}
    <paper-button raisedButton class="colored" label="Join" id="join"></paper-button>
  {{/if}}

  {{#if canStart}}
    <paper-button raisedButton class="colored" label="Start the game" id="start"></paper-button>
  {{/if}}

  {{#unless isSetup}}
    <div>
      Question:
      <strong>{{question}}</strong>
    </div>

    {{#if isSelectingWinner}}
      {{>answers}}
    {{/if}}

    {{#if isJoined}}
      {{>hand}}
    {{/if}}

  {{/unless}}
</template>

<template name="answers">
  <div>
    Answers:
    <ul>
      {{#each selectedAnswers}}
        <li><a href="#" data-pos="{{playerPos}}">{{answer}}</a></li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="hand">
  <div>
    Your hand:
    <ul>
      {{#each answers}}
        <li><a href="#">{{this}}</a></li>
      {{/each}}
    </ul>
  </div>
</template>
