<template name="game">
  Status: {{status}}

  <div>
    Players:
    <ul>
      {{#each players}}
        <li>{{name}}</li>
      {{/each}}
    </ul>
  </div>

  {{#unless isLoggedIn}}
    You need to log in to join a game.
  {{/unless}}

  {{#if canJoin}}
    <button name="join">Join</button>
  {{/if}}

  {{#if canStart}}
    <button name="start">Start the game</button>
  {{/if}}

  {{#if isStarted}}
    <div>
      Question:
      <strong>{{question}}</strong>
    </div>

    {{>hand}}
  {{/if}}
</template>

<template name="hand">
  <div>
    Your hand:
    <ul>
      {{#each answers}}
        <li><a href="#">{{this}}</a></li>
      {{/each}}
    </ul>
  </div>
</template>
