<template name="game">
  <div class="game">
    Status: {{status}}

    {{#if isSetup}}
      {{#unless currentUser}}
        <button data-role="login">Log in to join</button>
      {{/unless}}

      {{#if canJoin}}
        <button data-role="join">Join</button>
      {{/if}}

      {{#if hasEnoughPlayers}}
        {{#if isCreator}}
          <button data-role="start">Start</button>
        {{else}}
          <div>Waiting for {{creatorName}} to start the game...</div>
        {{/if}}
      {{else}}
        <div>Waiting for more players to join...</div>
      {{/if}}
    {{/if}}

    <div class="players">
      Players:
      <ul>
        {{#each players}}
          <li>
            <img src="{{picture}}" class="userPicture">
            {{name}} {{score}}
            {{#if selectedAnswer}}
              <i>answered</i>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>


    

    {{#unless isSetup}}
      <div>
        Question:
        <strong>{{question}}</strong>
      </div>

      {{#if isSelectingWinner}}
        {{>answers}}
      {{/if}}

      {{#if isJoined}}
        {{>hand}}
      {{/if}}

    {{/unless}}
  </div>
</template>

<template name="answers">
  <div>
    Answers:
    <ul>
      {{#each selectedAnswers}}
        <li><a href="#" data-pos="{{playerPos}}">{{answer}}</a></li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="hand">
  <div class="hand">
    Your hand:
    <ul>
      {{#each answers}}
        <li>
          <a href="#" class="answer">
            <paper-shadow z="1"></paper-shadow>
            {{this}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</template>
