<template name="game">
  <div class="game">
    Status: {{status}}

    <div class="players">
      Players:
      <ul>
        {{#each players}}
          <li>
            <img src="{{picture}}" class="userPicture">
            {{name}} {{score}}
            {{#if selectedAnswer}}
              <i>answered</i>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>

    {{#unless currentUser}}
      <paper-button raisedButton class="colored" label="Log in to join" data-role="login"></paper-button>
    {{/unless}}

    {{#if canJoin}}
      <paper-button raisedButton class="colored" label="Join" id="join"></paper-button>
    {{/if}}

    {{#if canStart}}
      <paper-button raisedButton class="colored" label="Start" id="start"></paper-button>
    {{/if}}

    {{#unless isSetup}}
      <div>
        Question:
        <strong>{{question}}</strong>
      </div>

      {{#if isSelectingWinner}}
        {{>answers}}
      {{/if}}

      {{#if isJoined}}
        {{>hand}}
      {{/if}}

    {{/unless}}
  </div>
</template>

<template name="answers">
  <div>
    Answers:
    <ul>
      {{#each selectedAnswers}}
        <li><a href="#" data-pos="{{playerPos}}">{{answer}}</a></li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="hand">
  <div class="hand">
    Your hand:
    <ul>
      {{#each answers}}
        <li>
          <a href="#" class="answer">
            <paper-shadow z="1"></paper-shadow>
            {{this}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</template>
