<template name="home">
  {{> createGame}}
  {{> games}}
</template>

<template name="createGame">
  <div>
    {{#if currentUser}}
      <paper-button icon="add" raisedButton class="colored" label="New game" data-role="newGame"></paper-button>
    {{else}}
      <paper-button raisedButton class="colored" label="Log in to start a game" data-role="login"></paper-button>
    {{/if}}
  </div>
</template>

<template name="games">
  <div class="games">
    Existing games:
    <ul>
      {{#each games}}
        <li>
          <a href="{{pathFor 'game' this._id}}">
            <paper-shadow z="1"></paper-shadow>
            <div class="players">
              <!-- <core-icon icon="social:group"></core-icon> -->
              {{#if players.length}}
                {{#each players}}
                  <span class="player">
                    <img src="{{picture}}" class="userPicture">
                    <!-- {{name}} -->
                  </span>
                {{/each}}
              {{else}}
                No players
              {{/if}}
            </div>
            <div class="creationDate">{{fromNow creationDate}}</div>
            <div class="id">{{_id}}</div>
            <div class="clear"></div>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</template>
