<template name="home">
  {{> createGame}}
  {{> games}}
</template>

<template name="createGame">
  <div>
    {{#if currentUser}}
      <button data-role="newGame" class="invert">
        <!-- plus -->
        <svg x="0px" y="0px" width="16px" height="16px" viewBox="0 0 20 20" class="svgicon invert">
          <polygon points="18,9 11,9 11,2 9,2 9,9 2,9 2,11 9,11 9,18 11,18 11,11 18,11 "/>
        </svg>
        <span>New game</span>
      </button>
    {{else}}
      <button data-role="login" class="invert">Log in to start a game</button>
    {{/if}}
  </div>
</template>

<template name="games">
  <div class="games">
    Existing games:
    <ul>
      {{#each games}}
        <li>
          <a href="{{pathFor 'game' this._id}}">
            <div class="players">
              {{#if players.length}}
                {{#each players}}
                  <span class="player">
                    <img src="{{picture}}" class="userPicture">
                  </span>
                {{/each}}
              {{else}}
                No players
              {{/if}}
            </div>
            <div class="creationDate">{{fromNow creationDate}}</div>
            <div class="id">{{_id}}</div>
            <div class="clear"></div>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</template>
