<head>
  <title>Cards Against Humanity</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <!-- <link rel="icon" sizes="196x196" href="icon.png"> -->
</head>

<template name="layout">
  <core-header-panel>
    <core-toolbar>
      <paper-icon-button icon="home"></paper-icon-button>
      <span flex>Cards Against Humanity</span>
      {{#if currentUser}}
        <img src="{{userPicture}}" class="userPicture">
      {{/if}}
    </core-toolbar>
    <div class="content">
      {{> yield}}
    </div>
  </core-header-panel>
  <!--
  <footer>
    <a href="/about">About</a>
  </footer>
  -->
</template>

<template name="loading">
  <!-- TODO does this do anything? -->
  Loading...
</template>

<template name="notFound">
  Not found
</template>
