<head>
  <title>Cards Against Humanity</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<template name="layout">
  <div class="login">
    {{> loginButtons align="right"}}
  </div>
  <core-header-panel>
    <core-toolbar>
      <paper-icon-button icon="home"></paper-icon-button>
      <span flex>Cards Against Humanity</span>
    </core-toolbar>
    {{> yield}}
  </core-header-panel>
  <!--
  <footer>
    <a href="/about">About</a>
  </footer>
  -->
</template>

<template name="loading">
  <!-- TODO does this do anything? -->
  Loading...
</template>

<template name="notFound">
  Not found
</template>
